body {
    margin: 0;
    padding: 0;
    background-color: #0b161a; /* O koyu lacivert-siyah hava */
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.title-area h1 { margin: 0; font-size: 26px; }
.dev { color: #00b4d8; font-weight: bold; margin: 5px 0; }
.rating { color: #888; font-size: 13px; }

/* REKLAM KUTULARI */
.ad-banner {
    background: #152228;
    border: 1px dashed #444;
    height: 90px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    border-radius: 8px;
}

/* O DEVASA BUTON */
.btn-play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff; /* Bembeyaz buton */
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 15px;
    margin: 20px 0;
    border-bottom: 6px solid #e0e0e0; /* Tıklanma hissi için gölge */
    transition: 0.1s;
}

.btn-play:active {
    transform: translateY(3px);
    border-bottom-width: 2px;
}

.btn-main-text {
    display: block;
    color: #00a859; /* Yeşil yazı */
    font-size: 32px;
    font-weight: 900;
}

.btn-sub-text { color: #666; font-size: 14px; }
.btn-arrow { color: #00a859; font-size: 35px; font-weight: bold; }

.description { margin-top: 30px; line-height: 1.6; color: #ccc; }
